.users{
    margin: auto;
    padding: 1rem;
    width: 90%;
    max-width: 40rem;
}

.list{
    list-style: none;
    border: 1px solid #ccc;
    padding: .5rem;
    margin: .5em 0;

}

.users ul{
    padding: 0;
    margin: 0;
}